* Обязательная часть

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

* Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). 

Провести расчет базовых метрик для них, кратко описать результаты.

* Задание 2. 

Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

* Задание 3. 

Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [1]:
import pandas as pd
import numpy as np

In [2]:
horse = pd.read_csv(r'C:\Users\Urmas\Desktop\Jupyter\test\Statistika\Базовые понятия\horse_data.csv',  names = range(1,29), na_values='?')
# pd.set_option('display.max_columns', None)  # вывод всех столбцов
horse.head()

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
# переименуем столбцы из инфо в доп.таблице
# list_ = {
            '1': 'Surgery',
            '2': 'Age',
            '3': 'Hospital_Number',
            '4': 'Rectal_temperature',
            '5': 'Pulse',
            '6': 'Respiratory_rate', 
            '7': 'Temperature_of_extremities',
            '8': 'Peripheral_pulse',
            '9': 'Mucous _embranes',
            '10': 'Capillary_refill_time',
            '11': 'Pain',
            '12': 'Peristalsis',
            '13': 'Abdominal_distension',
            '14': 'Nasogastric_tube',
            '15': 'Nasogastric_reflux',
            '16': 'Nasogastric_reflux_PH',
            '17': 'Rectal_examination_feces',
            '18': 'Abdomen',
            '19': 'Packed_cell_volume',
            '20': 'Total_protein',
            '21': 'Abdominocentesis_appearance',
            '22': 'Abdomcentesis_total_protein',
            '23': 'Outcome',
            '24': 'Surgical_lesion?',
            '25': 'Type_of_lesion1',
            '26': 'Type_of_lesion2',
            '27': 'Type_of_lesion3',
            '28': 'Cp_data'
}
# names = list(list_.values())
# print(names, sep=',')
# horse.columns = [names]
# horse.head()

IndentationError: unexpected indent (<ipython-input-3-68a79e6af00e>, line 3)

In [ ]:
# какие колонки оставим для анализа
# № 1, 2, 4, 5, 7, 9, 11, 13
# num = [1, 2, 4, 5, 7, 9, 11, 13]

# column_index = list(map(lambda x: x-1, num))
# print(column_index)

# для инфо - названия искомых столбцов
# column_names= list(filter(None, map(lambda x: x if names.index(x) in list(map(lambda x: x-1, num)) else None, names)))
# print(column_names)

In [ ]:
# сформируем DataFrame из 8-ми столбцов
# третий и четвертый столбец - количественные непрерывные величины
# первый и одиннадцатый  столбец - качественные номинальные значения (ранжирование незначимо)
# второй, пятый, шестой и тринадцатый столбцы - качественные порядковые значения (ранжирование значимо)

#horse_analitic = horse.iloc[:, column_index]
#horse_analitic.columns = [column_names]
#horse_analitic.head()

In [3]:
horse_analitic = horse.iloc[:, [0, 1, 3, 4, 6, 8, 10, 12]]
horse_analitic.columns =['Surgery', 'Age', 'Rectal_temperature', 'Pulse', 'Temperature_of_extremities', 'Mucous_embranes', 'Pain', 'Abdominal_distension']
horse_analitic.head()

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
0,2.0,1,38.5,66.0,3.0,NaN,5.0,4.0
1,1.0,1,39.2,88.0,NaN,4.0,3.0,2.0
2,2.0,1,38.3,40.0,1.0,3.0,3.0,1.0
3,1.0,9,39.1,164.0,4.0,6.0,2.0,4.0
4,2.0,1,37.3,104.0,NaN,6.0,NaN,NaN

In [ ]:
# horse_analitic.dtypes

In [4]:
horse_analitic = horse_analitic.apply(lambda column: pd.to_numeric(column), axis=0)
horse_analitic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   Rectal_temperature          240 non-null    float64
 3   Pulse                       276 non-null    float64
 4   Temperature_of_extremities  244 non-null    float64
 5   Mucous_embranes             253 non-null    float64
 6   Pain                        245 non-null    float64
 7   Abdominal_distension        244 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [5]:
horse_analitic.describe()

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
count,299.000000,300.000000,240.000000,276.000000,244.000000,253.000000,245.00000,244.000000
mean,1.397993,1.640000,38.167917,71.913043,2.348361,2.853755,2.95102,2.266393
std,0.490305,2.173972,0.732289,28.630557,1.045054,1.620294,1.30794,1.065131
min,1.000000,1.000000,35.400000,30.000000,1.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,1.000000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,3.000000,3.000000,3.00000,2.000000
75%,2.000000,1.000000,38.500000,88.000000,3.000000,4.000000,4.00000,3.000000
max,2.000000,9.000000,40.800000,184.000000,4.000000,6.000000,5.00000,4.000000

In [6]:
# расчет моды для всего DataFrame
moda = horse_analitic.round().mode()
moda

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
0,1.0,1,38.0,48.0,3.0,1.0,3.0,1.0

* столбец Rectal_temperature (числовой)

размах данных небольшой, относительно симметричное распределение, немного смещенное влево (меньшую температуру)

* столбец Pulse (числовой)

более "размашистые" данные, не симметричное распределение, смещение вправо (высокий пульс)

* В основном выборка показывает:
    лошади взрослые, перенесшие операцию, со средней (схожей) температурой 38,2 градуса,
    с повышенным пульсом и некоторой периодической легкой болью

In [7]:
# расчет моды вручную (пример для одного столбца Age)
moda = {}
for line in horse_analitic.Age.round():
    if line not in moda:
        moda[line] = 1
    else:
        moda[line] += 1
        
max_line = 0
mode = None
for k, v in moda.items():
    if max_line <v:
        max_line = v
        mode = k
print('Значение моды "Age":', mode)

Значение моды "Age": 1

In [8]:
# расчет моды методом (пример для одного столбца Age)
moda_Age = horse_analitic.Age.round().mode()
moda_Age

0    1
dtype: int64

# Выбросы

In [9]:
# определим выбросы для количественных данных, Rectal_temperature
# доверительный интервал (межквартильный размах)
q1 = horse_analitic.Rectal_temperature.quantile(0.25)
q3 = horse_analitic.Rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
remove_outliers = horse_analitic[horse_analitic.Rectal_temperature.between(lower_bound, upper_bound, inclusive=True)].sort_values('Rectal_temperature')
remove_outliers

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
113,1.0,1,36.8,60.0,NaN,NaN,NaN,NaN
277,2.0,1,36.9,50.0,2.0,3.0,1.0,2.0
70,2.0,1,37.0,60.0,3.0,NaN,3.0,3.0
292,1.0,1,37.0,66.0,1.0,2.0,4.0,3.0
190,1.0,1,37.1,40.0,NaN,4.0,3.0,1.0
...,...,...,...,...,...,...,...,...
165,1.0,1,39.4,120.0,NaN,5.0,NaN,3.0
231,2.0,1,39.5,92.0,3.0,6.0,5.0,1.0
287,2.0,9,39.5,84.0,NaN,NaN,NaN,NaN
117,2.0,1,39.5,NaN,3.0,4.0,3.0,3.0
162,2.0,1,39.5,60.0,3.0,NaN,3.0,2.0

In [10]:
# определяем выбросы по Rectal_temperature
emissions_Rectal_temperature = pd.concat([horse_analitic, remove_outliers]).drop_duplicates(keep=False)
emissions_Rectal_temperature.loc[~pd.isnull(emissions_Rectal_temperature.Rectal_temperature), :].sort_values('Rectal_temperature', ascending=False)

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
259,1.0,1,40.8,72.0,3.0,1.0,2.0,1.0
281,2.0,1,40.0,78.0,3.0,5.0,2.0,1.0
20,1.0,1,39.9,72.0,1.0,5.0,5.0,4.0
75,1.0,9,39.7,100.0,3.0,5.0,2.0,NaN
99,2.0,1,39.6,108.0,3.0,6.0,2.0,3.0
251,2.0,1,36.6,42.0,3.0,2.0,1.0,1.0
118,1.0,1,36.5,78.0,1.0,1.0,5.0,1.0
298,1.0,1,36.5,100.0,3.0,3.0,3.0,3.0
80,1.0,1,36.4,98.0,3.0,4.0,4.0,2.0
238,2.0,1,36.1,88.0,3.0,3.0,3.0,2.0
141,2.0,1,36.0,42.0,NaN,5.0,NaN,NaN
44,1.0,1,35.4,140.0,3.0,4.0,4.0,NaN

In [11]:
# есть ли схожие данные для замены пропуска строки 141?
a = horse_analitic.loc[((horse_analitic.Mucous_embranes==5.0)&(horse_analitic.Pulse.between(35.0, 52.0, inclusive=True))), :]
a.Temperature_of_extremities.mean()
a.Pain.mean()
a.Abdominal_distension.mean()
a

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
73,1.0,1,38.1,52.0,1.0,5.0,4.0,1.0
141,2.0,1,36.0,42.0,NaN,5.0,NaN,NaN
235,1.0,1,38.1,52.0,1.0,5.0,4.0,1.0

In [12]:
# сделаем замену
dt = horse_analitic.iloc[[141], :]
dt.Temperature_of_extremities.fillna(a.Temperature_of_extremities.mean(), inplace=True)
dt.Pain.fillna(a.Pain.mean(), inplace=True)
dt.Abdominal_distension.fillna(a.Abdominal_distension.mean(), inplace=True)
horse_analitic.iloc[[141], :]=dt
horse_analitic.iloc[[141], :]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
141,2.0,1,36.0,42.0,1.0,5.0,4.0,1.0

выбросы по Rectal_temperature кажутся естественными (оставляем),

по другим показателям тоже идут не нормальные данные - 

либо лошадь болеет, испытывает боль, либо перегрелась...

потеря данных одной лошади из данного выброса - можно заполнить пропуски по аналогии со схожими симптомами

In [13]:
# определим выбросы для количественных данных, Pulse
q1_2 = horse_analitic.Pulse.quantile(0.25)
q3_2 = horse_analitic.Pulse.quantile(0.75)
iqr_2 = q3_2 - q1_2
lower_bound_2 = q1_2 - (1.5 * iqr_2)
upper_bound_2 = q3_2 + (1.5 * iqr_2)
remove_outliers_2 = horse_analitic[horse_analitic.Pulse.between(lower_bound_2, upper_bound_2, inclusive=True)].sort_values('Pulse')
remove_outliers_2

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
130,1.0,1,37.8,30.0,NaN,NaN,NaN,NaN
232,1.0,1,38.5,30.0,NaN,NaN,NaN,NaN
203,2.0,1,37.2,36.0,1.0,1.0,2.0,1.0
276,1.0,1,38.0,36.0,3.0,1.0,4.0,2.0
242,1.0,1,NaN,36.0,1.0,4.0,5.0,3.0
...,...,...,...,...,...,...,...,...
148,1.0,1,38.3,132.0,NaN,6.0,2.0,2.0
135,1.0,9,38.1,136.0,3.0,3.0,5.0,3.0
44,1.0,1,35.4,140.0,3.0,4.0,4.0,NaN
103,1.0,9,38.0,140.0,1.0,1.0,3.0,2.0
39,1.0,9,39.2,146.0,NaN,NaN,NaN,NaN

In [14]:
# определяем выбросы по Pulse
emissions_Pulse = pd.concat([horse_analitic, remove_outliers_2]).drop_duplicates(keep=False)
emissions_Pulse.loc[~pd.isnull(emissions_Pulse.Pulse), :].sort_values('Pulse', ascending=False)

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
255,1.0,9,38.8,184.0,1.0,1.0,4.0,3.0
3,1.0,9,39.1,164.0,4.0,6.0,2.0,4.0
55,1.0,9,38.6,160.0,3.0,5.0,3.0,4.0
41,2.0,9,39.0,150.0,NaN,NaN,NaN,NaN
275,1.0,9,38.8,150.0,1.0,6.0,5.0,2.0

In [15]:
# есть ли схожие данные для замены пропуска строки 41?
a2 = horse_analitic.loc[horse_analitic.Pulse==150.0, :]
a2

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
41,2.0,9,39.0,150.0,NaN,NaN,NaN,NaN
275,1.0,9,38.8,150.0,1.0,6.0,5.0,2.0

In [16]:
# сделаем замену
dt2 = horse_analitic.iloc[[41], :]
dt2.Temperature_of_extremities.fillna(a2.Temperature_of_extremities.mean(), inplace=True)
dt2.Mucous_embranes.fillna(a2.Mucous_embranes.mean(), inplace=True)
dt2.Pain.fillna(a2.Pain.mean(), inplace=True)
dt2.Abdominal_distension.fillna(a2.Abdominal_distension.mean(), inplace=True)
horse_analitic.iloc[[41], :]=dt2
horse_analitic.iloc[[41], :]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
41,2.0,9,39.0,150.0,1.0,6.0,5.0,2.0

выбросы по Pulse кажутся естественными (оставляем),

по другим показателям тоже идут не нормальные данные - 

либо лошадь (в данном случае жеребята) болеет, испытывает боль, либо перегрелась, травмировалась, после операции...

потеря данных одной лошади из данного выброса - можно заполнить пропуски по аналогии со схожими симптомами

# Пропуски

In [17]:
# пропуски, количество в шт.
# количество изменилось после замены пропусков выше
horse_analitic.isnull().sum()

Surgery                        1
Age                            0
Rectal_temperature            60
Pulse                         24
Temperature_of_extremities    54
Mucous_embranes               46
Pain                          53
Abdominal_distension          54
dtype: int64

In [18]:
# пропуски, количество в %
for col in horse_analitic.columns:
    missing = horse_analitic[col].isnull().mean()
    print(f'{col} - {missing:.1%}')

Surgery - 0.3%
Age - 0.0%
Rectal_temperature - 20.0%
Pulse - 8.0%
Temperature_of_extremities - 18.0%
Mucous_embranes - 15.3%
Pain - 17.7%
Abdominal_distension - 18.0%

In [19]:
horse_analitic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   Rectal_temperature          240 non-null    float64
 3   Pulse                       276 non-null    float64
 4   Temperature_of_extremities  246 non-null    float64
 5   Mucous_embranes             254 non-null    float64
 6   Pain                        247 non-null    float64
 7   Abdominal_distension        246 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [20]:
# пропуски в столбце Surgery
c = horse_analitic.loc[pd.isnull(horse_analitic.Surgery), :]
c
# имеем одну строку с усредненными значениями, можем пренебречь, либо удалить
# удалю строку последней

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
132,NaN,1,38.0,48.0,3.0,3.0,4.0,1.0

In [20]:
# пропуски в столбце Rectal_temperature
horse_analitic.loc[pd.isnull(horse_analitic.Rectal_temperature), :]

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
5,2.0,1,NaN,NaN,2.0,3.0,2.0,2.0
7,1.0,1,NaN,60.0,3.0,NaN,NaN,2.0
8,2.0,1,NaN,80.0,3.0,3.0,4.0,4.0
16,1.0,9,NaN,128.0,3.0,4.0,4.0,3.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
34,1.0,1,NaN,100.0,3.0,4.0,5.0,4.0
35,2.0,1,NaN,104.0,4.0,3.0,4.0,3.0
40,1.0,1,NaN,88.0,3.0,6.0,5.0,3.0
43,1.0,1,NaN,120.0,3.0,4.0,4.0,4.0
45,2.0,1,NaN,120.0,4.0,4.0,5.0,4.0
52,2.0,1,NaN,NaN,1.0,3.0,1.0,1.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
57,1.0,1,NaN,64.0,2.0,2.0,5.0,3.0
58,1.0,1,NaN,NaN,4.0,3.0,5.0,3.0
59,2.0,1,NaN,96.0,3.0,3.0,5.0,4.0
65,1.0,1,NaN,60.0,3.0,3.0,3.0,2.0
68,2.0,1,NaN,52.0,1.0,3.0,NaN,NaN
74,1.0,9,NaN,NaN,NaN,NaN,NaN,NaN
78,1.0,1,NaN,NaN,3.0,3.0,5.0,3.0
86,1.0,1,NaN,88.0,3.0,4.0,5.0,3.0
87,2.0,1,NaN,40.0,NaN,NaN,NaN,NaN
93,2.0,1,NaN,NaN,3.0,1.0,5.0,3.0
96,2.0,1,NaN,84.0,NaN,3.0,NaN,1.0
101,1.0,1,NaN,60.0,4.0,4.0,5.0,NaN
105,1.0,1,NaN,70.0,1.0,3.0,2.0,2.0
110,1.0,1,NaN,70.0,3.0,5.0,2.0,2.0
112,1.0,1,NaN,40.0,2.0,1.0,1.0,1.0
115,2.0,1,NaN,NaN,3.0,1.0,3.0,2.0
134,1.0,1,NaN,100.0,3.0,4.0,5.0,NaN
136,1.0,1,NaN,NaN,3.0,3.0,5.0,3.0
142,1.0,1,NaN,120.0,4.0,6.0,5.0,4.0
145,2.0,1,NaN,80.0,3.0,2.0,2.0,3.0
152,1.0,1,NaN,100.0,3.0,4.0,NaN,4.0
159,2.0,1,NaN,NaN,1.0,2.0,2.0,2.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,NaN
167,2.0,1,NaN,44.0,1.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,NaN,NaN,5.0,4.0
173,1.0,1,NaN,104.0,3.0,5.0,2.0,3.0
174,2.0,1,NaN,NaN,3.0,6.0,4.0,4.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
177,1.0,1,NaN,68.0,NaN,4.0,4.0,NaN
178,1.0,1,NaN,60.0,3.0,4.0,5.0,4.0
191,2.0,9,NaN,100.0,2.0,1.0,4.0,1.0
193,1.0,1,NaN,60.0,3.0,4.0,4.0,4.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
216,2.0,1,NaN,NaN,NaN,NaN,NaN,NaN
219,1.0,1,NaN,52.0,3.0,4.0,3.0,3.0
222,1.0,1,NaN,112.0,4.0,4.0,2.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,NaN
242,1.0,1,NaN,36.0,1.0,4.0,5.0,3.0
245,2.0,1,NaN,96.0,3.0,3.0,5.0,4.0
253,2.0,1,NaN,112.0,3.0,4.0,5.0,2.0
254,1.0,1,NaN,80.0,3.0,3.0,4.0,4.0
265,2.0,1,NaN,56.0,3.0,1.0,3.0,1.0
272,1.0,1,NaN,100.0,3.0,4.0,5.0,4.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,4.0
282,1.0,1,NaN,70.0,3.0,5.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN
293,1.0,1,NaN,78.0,3.0,3.0,NaN,NaN
295,1.0,1,NaN,120.0,4.0,4.0,2.0,NaN

In [21]:
# поскольку распределение температур выглядит относительно симметрично, \
# для замены можно взять или моду, или медиану, или среднее
# заменим пропуски столбца Rectal_temperature медианой
b = horse_analitic.loc[pd.isnull(horse_analitic.Rectal_temperature), :]
b.Rectal_temperature.fillna(horse_analitic.Rectal_temperature.median(), inplace=True)
horse_analitic.loc[pd.isnull(horse_analitic.Rectal_temperature), :] = b
horse_analitic.loc[pd.isnull(horse_analitic.Rectal_temperature), :]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Empty DataFrame
Columns: [Surgery, Age, Rectal_temperature, Pulse, Temperature_of_extremities, Mucous_embranes, Pain, Abdominal_distension]
Index: []

In [22]:
horse_analitic.Rectal_temperature.isnull().sum()

0

In [23]:
# пропуски в столбце Pulse
horse_analitic.loc[pd.isnull(horse_analitic.Pulse), :]

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
5,2.0,1,38.2,NaN,2.0,3.0,2.0,2.0
28,1.0,1,38.2,NaN,NaN,NaN,NaN,NaN
52,2.0,1,38.2,NaN,1.0,3.0,1.0,1.0
56,1.0,1,38.2,NaN,NaN,NaN,NaN,NaN
58,1.0,1,38.2,NaN,4.0,3.0,5.0,3.0
74,1.0,9,38.2,NaN,NaN,NaN,NaN,NaN
78,1.0,1,38.2,NaN,3.0,3.0,5.0,3.0
83,1.0,1,38.0,NaN,3.0,6.0,5.0,4.0
93,2.0,1,38.2,NaN,3.0,1.0,5.0,3.0
115,2.0,1,38.2,NaN,3.0,1.0,3.0,2.0
117,2.0,1,39.5,NaN,3.0,4.0,3.0,3.0
126,1.0,1,38.7,NaN,3.0,3.0,5.0,2.0
136,1.0,1,38.2,NaN,3.0,3.0,5.0,3.0
151,1.0,1,39.3,NaN,4.0,6.0,4.0,2.0
159,2.0,1,38.2,NaN,1.0,2.0,2.0,2.0
160,1.0,1,38.2,NaN,NaN,NaN,4.0,NaN
174,2.0,1,38.2,NaN,3.0,6.0,4.0,4.0
175,1.0,1,38.2,NaN,NaN,NaN,NaN,NaN
182,1.0,1,38.0,NaN,3.0,6.0,5.0,4.0
204,1.0,1,39.2,NaN,3.0,3.0,4.0,2.0
207,1.0,1,38.2,NaN,NaN,NaN,NaN,NaN
216,2.0,1,38.2,NaN,NaN,NaN,NaN,NaN
227,1.0,9,38.2,NaN,NaN,NaN,NaN,NaN
288,1.0,1,38.2,NaN,NaN,NaN,NaN,NaN

In [24]:
# пропуски в столбце Pulse можно заполнить медианой группировки
# print(horse_analitic.groupby('Rectal_temperature').Pulse.median())
horse_analitic.Pulse.fillna(horse_analitic.groupby('Rectal_temperature').Pulse.transform('median'), inplace=True)
horse_analitic.Pulse.isnull().sum()

0

In [25]:
# последние четыре столбца качественных характеристик заменим модой
horse_analitic.Temperature_of_extremities.fillna(horse_analitic.Temperature_of_extremities.mode()[0], inplace=True)
horse_analitic.Temperature_of_extremities.isnull().sum()

0

In [26]:
horse_analitic.Mucous_embranes.fillna(horse_analitic.Mucous_embranes.mode()[0], inplace=True)
horse_analitic.Mucous_embranes.isnull().sum()

0

In [27]:
horse_analitic.Pain.fillna(horse_analitic.Pain.mode()[0], inplace=True)
horse_analitic.Pain.isnull().sum()

0

In [28]:
horse_analitic.Abdominal_distension.fillna(horse_analitic.Abdominal_distension.mode()[0], inplace=True)
horse_analitic.Abdominal_distension.isnull().sum()

0

In [31]:
# удалим строку с пропуском в столбце Surgery (осталась одна) 
horse_analitic.dropna(inplace=True)

In [32]:
# проверяем датафрейм, он должен получиться без пропусков
horse_analitic.isnull().sum()

Surgery                       0
Age                           0
Rectal_temperature            0
Pulse                         0
Temperature_of_extremities    0
Mucous_embranes               0
Pain                          0
Abdominal_distension          0
dtype: int64

In [33]:
horse_analitic.head()

,Surgery,Age,Rectal_temperature,Pulse,Temperature_of_extremities,Mucous_embranes,Pain,Abdominal_distension
0,2.0,1,38.5,66.0,3.0,1.0,5.0,4.0
1,1.0,1,39.2,88.0,3.0,4.0,3.0,2.0
2,2.0,1,38.3,40.0,1.0,3.0,3.0,1.0
3,1.0,9,39.1,164.0,4.0,6.0,2.0,4.0
4,2.0,1,37.3,104.0,3.0,6.0,3.0,1.0